* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  list-style: none;
  border: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html .container {
  max-width: 1800px;
}

.background-fon {
  background-color: #f6f4f0;
}

.navbar-check {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-check .hamburger {
  display: none;
  margin-top: 1.5rem;
}

.navbar-check .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.navbar-check .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.navbar-check .hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.navbar-check .hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.navbar-check .accordion-link {
  display: inline-block;
  margin-top: 1.8rem;
}

.navbar-check .accordion-link img {
  margin-right: 5px;
  width: 2rem;
}

.navbar-check .accordion-link .x {
  margin-left: 10px;
  cursor: pointer;
}

.navbar-check .accordion-link .x i {
  margin-top: 0.5rem;
  font-size: 15px;
}

.navbar-check .accordion-link h3 {
  -webkit-text-decoration: underline dotted black;
          text-decoration: underline dotted black;
}

.navbar-check .accordion-link .accordion-story {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 5s;
  transition: background-color 5s;
  background-color: #f9f6f6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  position: absolute;
  left: 2rem;
  margin-top: 1rem;
  padding: 1rem;
}

.navbar-check .accordion-link .accordion-story li {
  font-size: 15px;
  font-family: "Actor", sans-serif;
}

.navbar-check .accordion-link .accordion-story li a {
  color: #3f3e3e;
  text-decoration: none;
}

.navbar-check .accordion-link .accordion-story li a:hover {
  color: #121111;
}

.navbar-check .accordion-link .past {
  visibility: hidden;
  display: none;
}

.navbar-check .accordion-link.change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
}

.navbar-check .accordion-link.change .accordion-story {
  display: none;
}

.navbar-check .accordion-link.change .tepa {
  display: none;
  visibility: hidden;
}

.navbar-check .accordion-link.change .past {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-check .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
  width: 100%;
}

.navbar-check .navbar-links .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-check .navbar-links .nav-link li {
  margin-left: 2rem;
}

.navbar-check .navbar-links .nav-link li a {
  text-decoration: none;
  color: black;
  font-family: "Actor", sans-serif;
  font-size: 16px;
}

.navbar-check .navbar-links .nav-link li img {
  margin-right: 5px;
}

.navbar-check .navbar-links .nav-link li:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.navbar-check .nav-link-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 2rem;
  position: relative;
}

.navbar-check .nav-link-2 li {
  margin-left: 2rem;
  cursor: pointer;
  font-size: 16px;
  color: black;
  margin-right: 25px;
}

.navbar-check .nav-link-2 li .fas {
  margin-right: 1rem;
}

.navbar-check .nav-link-2 li a {
  color: black;
}

.navbar-check .nav-link-2 li img {
  width: 30px;
}

.navbar-check .nav-link-2 .call:hover .fas {
  color: blue;
}

.navbar-check .nav-link-2 .after::after {
  content: "";
  position: absolute;
  width: 1.5px;
  margin-left: 1rem;
  height: 25px;
  background-color: #afafb0;
}

.menu-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-search img {
  width: 20%;
}

.menu-search form {
  margin-left: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-search form input {
  background-color: #f6f4f0;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  position: relative;
  width: 300px;
  font-size: 13px;
}

.menu-search form input::-webkit-input-placeholder {
  position: absolute;
  font-size: 13px;
  left: 0;
  margin-left: 10px;
  bottom: 10px;
}

.menu-search form input:-ms-input-placeholder {
  position: absolute;
  font-size: 13px;
  left: 0;
  margin-left: 10px;
  bottom: 10px;
}

.menu-search form input::-ms-input-placeholder {
  position: absolute;
  font-size: 13px;
  left: 0;
  margin-left: 10px;
  bottom: 10px;
}

.menu-search form input::placeholder {
  position: absolute;
  font-size: 13px;
  left: 0;
  margin-left: 10px;
  bottom: 10px;
}

.menu-search form .fas {
  position: absolute;
  right: 1rem;
  font-size: 15px;
  cursor: pointer;
}

.menu-search .best-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-search .best-members h4 {
  margin-left: 1rem;
  font-family: "Actor", sans-serif;
  color: #bbcd55;
  font-size: 17px;
  width: 140px;
}

.menu-search .best-members h4 span {
  color: black;
}

.menu-search .button-icons {
  margin-left: 10rem;
  margin-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-search .button-icons .iconk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #969696;
  position: relative;
  margin-left: 10px;
  padding: 4px;
  border-radius: 10px;
}

.menu-search .button-icons .iconk .iconk-img {
  width: 5vh;
  padding: 1px;
}

.menu-search .button-icons .iconk .span {
  position: absolute;
  padding: 2px 10px;
  top: -10px;
  left: 15px;
  border-radius: 50%;
  color: white;
  background-color: #696868;
}

.menu-search .button-icons .iconk h4 {
  margin-left: 1rem;
}

.catalogis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalogis .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 1rem;
}

.catalogis .catalog img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.catalogis .catalog img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  cursor: pointer;
}

.catalogis .catalog:hover {
  color: #92478e;
}

.catalogis .catalog h3 {
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.section-1 {
  background-image: url(/img-2/living-room.svg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  background-repeat: no-repeat;
  margin-top: 2rem;
}

.section-1 .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  width: 100%;
}

.section-1 .container .cards .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 55%;
  left: 10%;
}

.section-1 .container .cards .card-content .color {
  width: 3vh;
  height: 3vh;
  padding: 1rem;
  margin-right: 5px;
  border-radius: 100%;
  background-color: blueviolet;
  border: 5px solid #fcfafa;
}

.section-1 .container .cards .card-content h4 {
  font-family: "Actor", sans-serif;
  padding: 2rem;
  font-size: 16px;
  border-radius: 10%;
  width: 55%;
  background-color: #ffffffcc;
}

.section-1 .container .cards .card-content h4 span {
  color: blueviolet;
  display: block;
}

.section-1 .container .cards .card-content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 38%;
  left: 28%;
}

.section-1 .container .cards .card-content-1 .content {
  background-color: #ffffffcc;
  padding: 4rem 3rem;
  width: 250px;
  border-radius: 7%;
}

.section-1 .container .cards .card-content-1 .content h4 {
  font-family: "Actor", sans-serif;
  font-size: 30px;
  color: #5d8386;
  margin-bottom: 10px;
}

.section-1 .container .cards .card-content-1 .content h4 span {
  display: block;
  color: darkgray;
  font-size: 16px;
}

.section-1 .container .cards .card-content-1 .content .card-con-btn {
  width: 100%;
  background-color: #9d6652;
  font-size: 14px;
  padding: 1rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.section-1 .container .cards .card-content-1 .content .card-con-btn .fas {
  color: white;
  font-size: 15px;
  margin-left: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-1 .container .card-content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 15%;
  left: 45%;
}

.section-1 .container .card-content-2 .color {
  width: 3vh;
  height: 3vh;
  padding: 1rem;
  margin-right: 5px;
  border-radius: 100%;
  background-color: blueviolet;
  border: 5px solid #fcfafa;
}

.section-1 .container .card-content-2 h4 {
  font-family: "Actor", sans-serif;
  padding: 2rem;
  font-size: 16px;
  border-radius: 10%;
  width: 60%;
  background-color: #ffffffcc;
}

.section-1 .container .card-content-2 h4 span {
  color: blueviolet;
  display: block;
}

.section-1 .container .card-content-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 35%;
  right: 15%;
}

.section-1 .container .card-content-3 .color {
  width: 3vh;
  height: 3vh;
  padding: 1rem;
  margin-right: 5px;
  border-radius: 100%;
  background-color: blueviolet;
  border: 5px solid #fcfafa;
}

.section-1 .container .card-content-3 h4 {
  font-family: "Actor", sans-serif;
  padding: 2rem;
  font-size: 16px;
  border-radius: 10%;
  width: 70%;
  background-color: #ffffffcc;
}

.section-1 .container .card-content-3 h4 span {
  color: blueviolet;
  display: block;
}

.section-1 .container .card-content-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  right: 23rem;
  bottom: 4rem;
}

.section-1 .container .card-content-4 .color {
  width: 3vh;
  height: 3vh;
  padding: 1rem;
  margin-right: 5px;
  border-radius: 100%;
  background-color: blueviolet;
  border: 5px solid #fcfafa;
}

.section-1 .container .card-content-4 h4 {
  font-family: "Actor", sans-serif;
  padding: 2rem;
  font-size: 16px;
  border-radius: 10%;
  width: 70%;
  background-color: #ffffffcc;
}

.section-1 .container .card-content-4 h4 span {
  color: blueviolet;
  display: block;
}

.home-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home-about .home {
  width: 300px;
  margin-left: 5rem;
  background-color: #f6f4f0;
  padding-top: 2rem;
}

.home-about .home img {
  width: 300px;
}

.home-about .home h4 {
  color: black;
  text-align: center;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 10px;
}

.home-about .home h4:hover {
  text-decoration: underline;
  cursor: pointer;
}

.internet-paragraph {
  margin-top: 5rem;
}

.internet-paragraph h1 {
  margin-left: 2rem;
  font-size: 30px;
}

.internet-paragraph h1 span {
  display: block;
}

.internet-paragraph p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  width: 80%;
  line-height: 2;
  margin-top: 1rem;
}

.internet-watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
  padding: 2rem;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.internet-watch h2 {
  display: block;
  margin-left: 3rem;
}

.internet-watch .internet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.internet-watch .internet .internet-card {
  margin-left: 2rem;
}

.internet-watch .internet .internet-card video {
  cursor: pointer;
}

.internet-watch .internet .internet-card p {
  width: 80%;
  font-size: 16px;
}

@media screen and (max-width: 1750px) {
  .home-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home-about .home {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1600px) {
  header .menu-search {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1400px) {
  header .menu-search .button-icons {
    margin-top: 2rem;
  }
  .section-1 .container .cards .card-content {
    left: 5%;
  }
  .section-1 .container .cards .card-content-1 {
    left: 25%;
  }
  .section-1 .container .cards .card-content-4 {
    right: 5%;
  }
  .section-1 .container .cards .card-content-3 {
    right: 10%;
  }
}

@media screen and (max-width: 1300px) {
  header .menu-search .best-members {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .navbar-check {
    padding: 1rem;
  }
  .navbar-check .navbar-links {
    position: fixed;
    right: -100%;
    top: 5rem;
    z-index: 5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .navbar-check .navbar-links.active {
    right: 0;
    top: 0;
    margin: 0;
  }
  .navbar-check .hamburger {
    z-index: 5;
    display: block;
    cursor: pointer;
    right: 2rem;
    position: absolute;
  }
  .menu-search .button-icons .iconk .span {
    display: none;
  }
  .section-1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

@media screen and (max-width: 1109px) {
  .catalogis .catalog {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .section-1 .container .cards .card-content-4 {
    display: none;
  }
  .section-1 .container .cards .card-content {
    display: none;
  }
  .section-1 .container .cards .card-content-1 {
    left: 10%;
  }
  .section-1 .container .cards .card-content-2 {
    left: 40%;
  }
  .section-1 .container .cards .card-content-3 {
    right: 5%;
  }
}

@media screen and (max-width: 950px) {
  .section-1 {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
  .section-1 .container .card-content-3 {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .section-1 {
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  }
  .section-1 .container .cards .card-content-2 {
    left: 50%;
  }
}

@media screen and (max-width: 605px) {
  .navbar-check .nav-link-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-check .nav-link-2 .after {
    display: none;
  }
  .section-1 .container .cards .card-content-1 {
    top: 20%;
    left: 30%;
  }
  .section-1 .container .cards .card-content-2 {
    display: none;
  }
}

@media screen and (max-width: 578px) {
  .menu-search .button-icons {
    margin-right: 7rem;
  }
  .menu-search .button-icons .iconk .iconk-img {
    width: 5vh;
  }
  .menu-search .button-icons .iconk h4 {
    display: none;
  }
}

@media screen and (max-width: 542px) {
  .menu-search {
    margin-right: 3rem;
  }
  .menu-search .logo {
    display: none;
  }
  .menu-search .button-icons {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .menu-search {
    margin-right: 7rem;
  }
  .menu-search form {
    margin-right: 10rem;
  }
  .menu-search .button-icons {
    margin-right: 9rem;
  }
  .section-1 .container .cards .card-content-1 {
    left: 20%;
  }
}

@media screen and (max-width: 450px) {
  .navbar-check .nav-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 5rem;
  }
  .navbar-check .nav-link li {
    margin: 0;
  }
  .menu-search form {
    margin-right: 8rem;
  }
  .menu-search .button-icons {
    margin-right: 10rem;
  }
  .section-1 {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .background-fon {
    background-color: white;
  }
  .menu-search form input {
    width: 200px;
  }
  .menu-search .button-icons {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .navbar-check .hamburger {
    right: 1rem;
  }
  .navbar-check .hamburger.active {
    right: -2rem;
  }
  .menu-search form {
    margin-right: 12rem;
  }
  .catalogis {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalogis .catalog {
    width: 100%;
  }
}

@media screen and (max-width: 230px) {
  .navbar-check .hamburger {
    right: 0;
  }
  .navbar-check .hamburger.active {
    right: -5rem;
  }
  .menu-search form {
    margin-right: 12rem;
  }
  .menu-search form input {
    width: 180px;
  }
  .menu-search form .fas {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */